<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>One-Time Secret</title>
    </head>
    <body>
        {{ if .IsAuth }}
        <h2>Account: {{ .Username }}</h2>
        <h2>Messages</h2>
        {{ range .Messages }}
        <p><b>ID:</b> {{ .ID }}</p>
        <p><b>Text:</b> {{ .Text }}</p>
        <p><b>Times:</b> {{ .Times }}</p>
        <p><b>Timestamp:</b> {{ .Timestamp }}</p>
        <hr />
        {{ end }} {{ else }}
        <h2>Account is not exist</h2>
        {{ end }}
    </body>
</html>
